.logo{
    align-items: center;
    text-align: center;
}


.logo-title{
    font-weight: bold;
    font-size: 1.8rem;
}

.logo-description{
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
}

@media only screen and (width< 990px){
    
}

@media only screen and (width< 755px){
    
}