.preguntas_main_content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: left;
    width: 80%;
    margin: 0 auto;
    gap:50px;
    @media (max-width: 767px){
      padding: 30px;
      grid-template-columns: 1fr;
    }
    @media (min-width: 768px) and (max-width: 991px){
      padding: 30px;
      grid-template-columns: 1fr;
     }
}
  


.pregunta-container{
    display: grid;
    grid-template-columns: 0fr 1fr;
    column-gap: 10px;
    row-gap: 2vw;
}

.pregunta-tittle{
    font-weight: 600;
    font-size: 25px;
    line-height: 1.5;
}

.pregunta-rpta{
    grid-column:2;
    
    font-weight: 400;
}

.btnMas{
    font-size: 20px;
    display: grid;
    align-items: center;
}
