.sidebar-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
    padding: 2rem;
    padding-bottom: 0;
    gap: 2rem;
}

.sidebar-header {
    align-items: center;
    justify-content: flex-end;
}

.sidebar-body {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 2rem;
    }
}


#toggleSidebar:checked ~ div {
    display: block !important; 
}



@media only screen and (width< 990px){


   }
   
   @media only screen and (width< 755px){
       
   }